.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &_select {
        margin-top: 48px;
        padding: 12px 48px;
        font-size: 24px;
    }

    &_ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4%;
    }
}