.rick-and-morty-card {
    text-align: center;
    margin-top: 48px;
    min-height: 400px;
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    p {
        padding-block: 24px;
        font-size: 28px;
    }

    img {
        height: 300px;
        border-radius: 20px;
    }
}